body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:170px;
}
#u6219 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1140px;
  width:1201px;
  height:170px;
  display:flex;
}
#u6219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangTC-Regular", "PingFang TC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6220 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1197px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"PingFangTC-Regular", "PingFang TC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
}
#u6222 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:232px;
  width:1200px;
  height:62px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u6223 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:241px;
  width:189px;
  height:35px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-style:normal;
}
#u6223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6225 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u6226 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:192px;
  width:1200px;
  height:40px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u6226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6227 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6227 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6228 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6228 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u6229 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:246px;
  width:328px;
  height:30px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u6229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u6229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u6230 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:242px;
  width:94px;
  height:36px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u6231 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:253px;
  width:19px;
  height:18px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u6232 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:205px;
  width:110px;
  height:12px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u6232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u6233 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:202px;
  width:100px;
  height:24px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u6233 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6234_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6234_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6234 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:269px;
  width:54px;
  height:25px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6234 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6234_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6234.disabled {
}
.u6234_input_option {
  font-weight:400;
  font-style:normal;
}
#u6235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6235_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6235 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:294px;
  width:79px;
  height:25px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6235 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6235_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6235.disabled {
}
.u6235_input_option {
  font-weight:400;
  font-style:normal;
}
#u6236 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:247px;
  width:140px;
  height:390px;
}
#u6236_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:390px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6236_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6237 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:31px;
  display:flex;
}
#u6237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6237_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6237.mouseOver {
}
#u6237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  display:flex;
}
#u6238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6238_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6238.mouseOver {
}
#u6238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6239 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:74px;
  height:20px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u6240 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1px;
  width:1px;
  height:30px;
  display:flex;
}
#u6240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u6241 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:13px;
  width:9px;
  height:6px;
  display:flex;
}
#u6241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6242 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6236_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:390px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6236_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:137px;
  height:352px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
}
#u6244 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:46px;
  width:90px;
  height:16px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
}
#u6244 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6244_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
}
#u6244.mouseOver {
}
#u6244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6245 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:31px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6245_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6245.mouseOver {
}
#u6245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6246_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6246.mouseOver {
}
#u6246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6247 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:74px;
  height:20px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u6248 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1px;
  width:1px;
  height:30px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u6249 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:13px;
  width:9px;
  height:6px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6250 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6251 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:247px;
  width:70px;
  height:15px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6251 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6252 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6252 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u6253 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:254px;
  width:1px;
  height:200px;
  display:flex;
}
#u6253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u6254 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:1829px;
  width:200px;
  height:1px;
  display:flex;
}
#u6254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:684px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6255 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:456px;
  width:1200px;
  height:684px;
  display:flex;
}
#u6255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"NunitoSans-Regular", "Nunito Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6256 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:318px;
  width:250px;
  height:50px;
  display:flex;
  font-family:"NunitoSans-Regular", "Nunito Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6256 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  line-height:48px;
}
#u6257 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:456px;
  width:510px;
  height:190px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  line-height:48px;
}
#u6257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u6258 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:1020px;
  width:204px;
  height:43px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u6258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6258_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u6258.mouseOver {
}
#u6258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u6259 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:294px;
  width:1px;
  height:200px;
  display:flex;
}
#u6259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u6260 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:1869px;
  width:200px;
  height:1px;
  display:flex;
}
#u6260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:center;
}
#u6261 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:1090px;
  width:200px;
  height:16px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:center;
}
#u6261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#B6B6B6;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6262_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#B6B6B6;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u6262 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:658px;
  width:317px;
  height:50px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u6262 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6262_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u6262.disabled {
}
.u6262_input_option {
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u6263 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:667px;
  width:148px;
  height:40px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u6263 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u6264 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:958px;
  width:145px;
  height:42px;
  display:flex;
}
#u6264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u6266 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:965px;
  width:148px;
  height:40px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u6266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6267_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6267_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6267_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6267_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6267 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:964px;
  width:210px;
  height:36px;
  display:flex;
}
#u6267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6267_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6267.hint {
}
#u6267_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6267.disabled {
}
#u6267_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6267.hint.disabled {
}
#u6268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u6268 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:782px;
  width:148px;
  height:40px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u6268 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6269 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:782px;
  width:148px;
  height:40px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u6270 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:777px;
  width:204px;
  height:43px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u6270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6270_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u6270.mouseOver {
}
#u6270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6271_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#B6B6B6;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6271_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#B6B6B6;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u6271 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:720px;
  width:317px;
  height:50px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u6271 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6271_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u6271.disabled {
}
.u6271_input_option {
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u6272 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:729px;
  width:148px;
  height:40px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u6272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
