body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:170px;
}
#u6325 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1140px;
  width:1201px;
  height:170px;
  display:flex;
}
#u6325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangTC-Regular", "PingFang TC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6326 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1197px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"PingFangTC-Regular", "PingFang TC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
}
#u6328 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:232px;
  width:1200px;
  height:62px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u6329 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:241px;
  width:189px;
  height:35px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-style:normal;
}
#u6329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6331 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6331 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u6332 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:192px;
  width:1200px;
  height:40px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u6332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6333 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6333 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6334 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6334 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u6335 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:246px;
  width:328px;
  height:30px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u6335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u6335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u6336 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:242px;
  width:94px;
  height:36px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u6337 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:253px;
  width:19px;
  height:18px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u6338 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:205px;
  width:110px;
  height:12px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u6338 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u6339 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:202px;
  width:100px;
  height:24px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u6339 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6340_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6340_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6340 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:269px;
  width:54px;
  height:25px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6340 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6340_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6340.disabled {
}
.u6340_input_option {
  font-weight:400;
  font-style:normal;
}
#u6341_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6341_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6341 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:294px;
  width:79px;
  height:25px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6341 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6341_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6341.disabled {
}
.u6341_input_option {
  font-weight:400;
  font-style:normal;
}
#u6342 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:247px;
  width:140px;
  height:390px;
}
#u6342_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:390px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6342_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6343 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:31px;
  display:flex;
}
#u6343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6343_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6343.mouseOver {
}
#u6343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  display:flex;
}
#u6344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6344_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6344.mouseOver {
}
#u6344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6345 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:74px;
  height:20px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6345 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u6346 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1px;
  width:1px;
  height:30px;
  display:flex;
}
#u6346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u6347 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:13px;
  width:9px;
  height:6px;
  display:flex;
}
#u6347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6348 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6342_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:390px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6342_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:137px;
  height:352px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
}
#u6350 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:46px;
  width:90px;
  height:16px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
}
#u6350 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6350_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
}
#u6350.mouseOver {
}
#u6350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6351 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:31px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6351_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6351.mouseOver {
}
#u6351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6352_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6352.mouseOver {
}
#u6352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6353 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:74px;
  height:20px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6353 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u6354 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1px;
  width:1px;
  height:30px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u6355 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:13px;
  width:9px;
  height:6px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6356 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6357 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:247px;
  width:70px;
  height:15px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6357 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6358 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6358 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u6359 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:254px;
  width:1px;
  height:200px;
  display:flex;
}
#u6359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u6360 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:1829px;
  width:200px;
  height:1px;
  display:flex;
}
#u6360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:684px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6361 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:456px;
  width:1200px;
  height:684px;
  display:flex;
}
#u6361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"NunitoSans-Regular", "Nunito Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6362 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:321px;
  width:250px;
  height:50px;
  display:flex;
  font-family:"NunitoSans-Regular", "Nunito Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u6362 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  line-height:48px;
}
#u6363 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:360px;
  width:510px;
  height:96px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  line-height:48px;
}
#u6363 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u6364 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:294px;
  width:1px;
  height:200px;
  display:flex;
}
#u6364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u6365 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:1869px;
  width:200px;
  height:1px;
  display:flex;
}
#u6365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:958px;
  height:684px;
}
#u6366 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:456px;
  width:958px;
  height:684px;
  display:flex;
}
#u6366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
