body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:871px;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:262px;
  height:871px;
  display:flex;
}
#u3674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:63px;
  width:44px;
  height:35px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u3675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:40px;
  display:flex;
}
#u3676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:13px;
  width:110px;
  height:12px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u3677 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u3678 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:13px;
  width:100px;
  height:12px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u3678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:169px;
  width:18px;
  height:18px;
  display:flex;
}
#u3679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FDFDFD;
  text-align:center;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:10px;
  width:130px;
  height:17px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FDFDFD;
  text-align:center;
}
#u3680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:233px;
  width:120px;
  height:301px;
}
#u3681_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:301px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:301px;
}
#u3683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
  display:flex;
}
#u3683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:49px;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:120px;
  height:49px;
  display:flex;
}
#u3684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:120px;
  height:48px;
  display:flex;
}
#u3685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:120px;
  height:52px;
  display:flex;
}
#u3686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:120px;
  height:48px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:53px;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:248px;
  width:120px;
  height:53px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:204px;
  visibility:hidden;
}
#u3689_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:204px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:204px;
}
#u3691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
  display:flex;
  font-family:'CenturyGothic', 'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
}
#u3692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:120px;
  height:51px;
  display:flex;
  font-family:'CenturyGothic', 'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:120px;
  height:51px;
  display:flex;
  font-family:'CenturyGothic', 'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:120px;
  height:51px;
  display:flex;
  font-family:'CenturyGothic', 'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:51px;
  width:120px;
  height:196px;
  visibility:hidden;
}
#u3695_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:196px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:196px;
}
#u3697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:49px;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:49px;
  display:flex;
}
#u3697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:49px;
}
#u3698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:120px;
  height:49px;
  display:flex;
}
#u3698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:49px;
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:120px;
  height:49px;
  display:flex;
}
#u3699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:49px;
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:120px;
  height:49px;
  display:flex;
}
#u3700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:100px;
  width:120px;
  height:240px;
  visibility:hidden;
}
#u3701_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:240px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:240px;
}
#u3703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  display:flex;
}
#u3703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:120px;
  height:48px;
  display:flex;
}
#u3704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:120px;
  height:48px;
  display:flex;
}
#u3705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:120px;
  height:48px;
  display:flex;
}
#u3706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:120px;
  height:48px;
  display:flex;
}
#u3707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:148px;
  width:120px;
  height:104px;
  visibility:hidden;
}
#u3708_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:104px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:104px;
}
#u3710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
  display:flex;
}
#u3710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:120px;
  height:52px;
  display:flex;
}
#u3711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3712 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:200px;
  width:120px;
  height:288px;
  visibility:hidden;
}
#u3712_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:288px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:288px;
}
#u3714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:120px;
  height:48px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:120px;
  height:48px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:120px;
  height:48px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:120px;
  height:48px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:48px;
}
#u3719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:120px;
  height:48px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3720 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:248px;
  width:120px;
  height:212px;
  visibility:hidden;
}
#u3720_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:212px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:212px;
}
#u3722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:53px;
}
#u3722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:53px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:53px;
}
#u3723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:120px;
  height:53px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:53px;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:120px;
  height:53px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:53px;
}
#u3725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:159px;
  width:120px;
  height:53px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3726_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3726_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3726_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3726_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3726 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:165px;
  width:89px;
  height:25px;
  display:flex;
}
#u3726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3726_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3726.hint {
}
#u3726_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3726.disabled {
}
#u3726_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3726.hint.disabled {
}
#u3728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:910px;
  width:1200px;
  height:118px;
  display:flex;
}
#u3728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:910px;
  width:1600px;
  height:128px;
}
#u3729_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:128px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3729_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:128px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:128px;
  display:flex;
}
#u3730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic', 'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u3731 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:964px;
  width:700px;
  height:32px;
  display:flex;
  font-family:'CenturyGothic', 'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#CCCCCC;
}
#u3731 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3733 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:950px;
  width:35px;
  height:34px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3733_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u3734 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:1005px;
  width:70px;
  height:17px;
  display:flex;
  font-family:'CenturyGothic', 'Century Gothic', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u3734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u3735 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:994px;
  width:13px;
  height:7px;
  display:flex;
}
#u3735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3736 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:290px;
  width:850px;
  height:94px;
}
#u3737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:34px;
}
#u3737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:34px;
  display:flex;
}
#u3737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u3738 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:200px;
  height:34px;
  display:flex;
}
#u3738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u3739 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u3739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u3740 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u3740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u3741 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u3741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u3742 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u3742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u3743 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u3743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u3744 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u3744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:50px;
  height:30px;
  display:flex;
}
#u3745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u3746 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:34px;
  width:200px;
  height:30px;
  display:flex;
  text-align:left;
}
#u3746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3747 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:34px;
  width:100px;
  height:30px;
  display:flex;
}
#u3747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3748 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:34px;
  width:100px;
  height:30px;
  display:flex;
}
#u3748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3749 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:34px;
  width:100px;
  height:30px;
  display:flex;
}
#u3749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3750 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:34px;
  width:100px;
  height:30px;
  display:flex;
}
#u3750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3751 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:34px;
  width:100px;
  height:30px;
  display:flex;
}
#u3751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3752 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:34px;
  width:100px;
  height:30px;
  display:flex;
}
#u3752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:50px;
  height:30px;
  display:flex;
}
#u3753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u3754 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:64px;
  width:200px;
  height:30px;
  display:flex;
  text-align:left;
}
#u3754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3755 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
}
#u3755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3756 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
}
#u3756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3757 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
}
#u3757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3758 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
}
#u3758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3759 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
}
#u3759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3760 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
}
#u3760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Negreta', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u3761 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:156px;
  width:217px;
  height:50px;
  display:flex;
  font-family:'Century Gothic Negreta', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u3761 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3761_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3762_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:'Century Gothic Negreta', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#B6B6B6;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3762_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:'Century Gothic Negreta', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#B6B6B6;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Negreta', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u3762 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:210px;
  width:110px;
  height:50px;
  display:flex;
  font-family:'Century Gothic Negreta', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u3762 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3762_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Negreta', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u3762.disabled {
}
.u3762_input_option {
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
