body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:170px;
}
#u6120 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1140px;
  width:1201px;
  height:170px;
  display:flex;
}
#u6120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangTC-Regular", "PingFang TC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6121 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1197px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"PingFangTC-Regular", "PingFang TC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
}
#u6123 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:232px;
  width:1200px;
  height:62px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u6124 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:241px;
  width:189px;
  height:35px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-style:normal;
}
#u6124 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6126 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u6127 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:192px;
  width:1200px;
  height:40px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u6127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6128 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6128 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6129 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6129 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u6130 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:246px;
  width:328px;
  height:30px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u6130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u6130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u6131 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:242px;
  width:94px;
  height:36px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u6132 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:253px;
  width:19px;
  height:18px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u6133 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:205px;
  width:110px;
  height:12px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u6133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u6134 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:202px;
  width:100px;
  height:24px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u6134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6135_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6135 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:269px;
  width:54px;
  height:25px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6135 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6135_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6135.disabled {
}
.u6135_input_option {
  font-weight:400;
  font-style:normal;
}
#u6136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6136_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6136 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:294px;
  width:79px;
  height:25px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6136 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6136_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6136.disabled {
}
.u6136_input_option {
  font-weight:400;
  font-style:normal;
}
#u6137 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:247px;
  width:140px;
  height:390px;
}
#u6137_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:390px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6137_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6138 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:31px;
  display:flex;
}
#u6138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6138_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6138.mouseOver {
}
#u6138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  display:flex;
}
#u6139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6139_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6139.mouseOver {
}
#u6139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6140 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:74px;
  height:20px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u6141 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1px;
  width:1px;
  height:30px;
  display:flex;
}
#u6141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u6142 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:13px;
  width:9px;
  height:6px;
  display:flex;
}
#u6142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6143 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6137_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:390px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6137_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:137px;
  height:352px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
}
#u6145 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:46px;
  width:90px;
  height:16px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
}
#u6145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6145_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
}
#u6145.mouseOver {
}
#u6145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6146 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:31px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6146_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6146.mouseOver {
}
#u6146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6147_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6147.mouseOver {
}
#u6147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6148 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:74px;
  height:20px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u6149 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1px;
  width:1px;
  height:30px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u6150 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:13px;
  width:9px;
  height:6px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6151 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6152 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:247px;
  width:70px;
  height:15px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6153 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u6153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:776px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6154 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:364px;
  width:1200px;
  height:776px;
  display:flex;
}
#u6154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:48px;
}
#u6155 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:770px;
  width:178px;
  height:96px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:48px;
}
#u6155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u6156 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:937px;
  width:204px;
  height:43px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u6156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6156_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u6156.mouseOver {
}
#u6156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6157 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:548px;
  width:520px;
  height:79px;
  display:flex;
  text-align:center;
}
#u6157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u6158 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:254px;
  width:1px;
  height:200px;
  display:flex;
}
#u6158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u6159 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:1829px;
  width:200px;
  height:1px;
  display:flex;
}
#u6159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:center;
}
#u6160 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:1010px;
  width:200px;
  height:16px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:center;
}
#u6160 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:48px;
}
#u6161 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:640px;
  width:178px;
  height:96px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:48px;
}
#u6161 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0099FF;
}
#u6162 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:324px;
  width:250px;
  height:50px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0099FF;
}
#u6162 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
