body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:170px;
}
#u5600 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1140px;
  width:1201px;
  height:170px;
  display:flex;
}
#u5600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangTC-Regular", "PingFang TC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5601 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1197px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"PingFangTC-Regular", "PingFang TC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
}
#u5603 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:232px;
  width:1200px;
  height:62px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u5604 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:241px;
  width:189px;
  height:35px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-style:normal;
}
#u5604 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5606 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u5607 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:192px;
  width:1200px;
  height:40px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u5607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5608 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5608 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5609 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5609 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5610 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:246px;
  width:328px;
  height:30px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u5610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u5611 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:242px;
  width:94px;
  height:36px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u5612 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:253px;
  width:19px;
  height:18px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u5613 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:205px;
  width:110px;
  height:12px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u5613 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u5614 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:202px;
  width:100px;
  height:24px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u5614 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5615_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5615_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5615 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:269px;
  width:54px;
  height:25px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5615 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5615_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5615.disabled {
}
.u5615_input_option {
  font-weight:400;
  font-style:normal;
}
#u5616_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5616_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5616 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:294px;
  width:79px;
  height:25px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5616 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5616_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5616.disabled {
}
.u5616_input_option {
  font-weight:400;
  font-style:normal;
}
#u5617 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:247px;
  width:140px;
  height:390px;
}
#u5617_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:390px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5617_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5618 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:31px;
  display:flex;
}
#u5618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5618_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5618.mouseOver {
}
#u5618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  display:flex;
}
#u5619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5619_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5619.mouseOver {
}
#u5619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u5620 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:74px;
  height:20px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u5620 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u5621 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1px;
  width:1px;
  height:30px;
  display:flex;
}
#u5621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u5622 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:13px;
  width:9px;
  height:6px;
  display:flex;
}
#u5622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5623 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5617_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:390px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5617_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:137px;
  height:352px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
}
#u5625 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:46px;
  width:90px;
  height:16px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
}
#u5625 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5625_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4B4B4B;
}
#u5625.mouseOver {
}
#u5625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5626 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:31px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5626_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5626.mouseOver {
}
#u5626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(91, 192, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 184, 218, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5627_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(57, 179, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5627.mouseOver {
}
#u5627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u5628 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:74px;
  height:20px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u5628 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u5629 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1px;
  width:1px;
  height:30px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u5630 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:13px;
  width:9px;
  height:6px;
  display:flex;
  font-family:"微軟正黑體", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5631 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:30px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:247px;
  width:70px;
  height:15px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5632 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:247px;
  width:70px;
  height:17px;
  display:flex;
  font-family:"微軟正黑體 Bold", "微軟正黑體", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5633 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u5634 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:254px;
  width:1px;
  height:200px;
  display:flex;
}
#u5634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u5635 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:1829px;
  width:200px;
  height:1px;
  display:flex;
}
#u5635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:684px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5636 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:456px;
  width:1200px;
  height:684px;
  display:flex;
}
#u5636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u5637 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:324px;
  width:250px;
  height:50px;
  display:flex;
  font-family:'Nunito Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u5637 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  line-height:48px;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:456px;
  width:510px;
  height:190px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  line-height:48px;
}
#u5638 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u5639 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:1020px;
  width:204px;
  height:43px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u5639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5639_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u5639.mouseOver {
}
#u5639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:294px;
  width:1px;
  height:200px;
  display:flex;
}
#u5640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u5641 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:1869px;
  width:200px;
  height:1px;
  display:flex;
}
#u5641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:center;
}
#u5642 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:1090px;
  width:200px;
  height:16px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:center;
}
#u5642 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5643_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#B6B6B6;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5643_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#B6B6B6;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u5643 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:658px;
  width:317px;
  height:50px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u5643 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5643_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u5643.disabled {
}
.u5643_input_option {
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5644 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:667px;
  width:148px;
  height:40px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5644 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u5645 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:958px;
  width:145px;
  height:42px;
  display:flex;
}
#u5645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5647 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:965px;
  width:148px;
  height:40px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5647 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5648_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5648_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5648_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5648_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5648 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:964px;
  width:210px;
  height:36px;
  display:flex;
}
#u5648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5648_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5648.hint {
}
#u5648_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5648.disabled {
}
#u5648_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5648.hint.disabled {
}
#u5649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5649 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:782px;
  width:148px;
  height:40px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5649 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5650 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:782px;
  width:148px;
  height:40px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u5651 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:777px;
  width:204px;
  height:43px;
  display:flex;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u5651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5651_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'CenturyGothic-Bold', 'Century Gothic Bold', 'Century Gothic', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u5651.mouseOver {
}
#u5651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5652_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#B6B6B6;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5652_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#B6B6B6;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:720px;
  width:317px;
  height:50px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u5652 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5652_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#B6B6B6;
}
#u5652.disabled {
}
.u5652_input_option {
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5653 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:729px;
  width:148px;
  height:40px;
  display:flex;
  font-family:"Century Gothic Negreta", "Century Gothic", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5653 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
